body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.App {
    max-width: 800px;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
}

.header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.dropzone {
    padding: 40px 20px;
    border: 2px dashed #cccccc;
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
    background-color: #fafafa;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.dropzone:hover {
    background-color: #f0f0f0;
}

.clickable {
    color: #007BFF;
    cursor: pointer;
    text-decoration: underline;
}

.pdf-container {
    margin-top: 30px;
}

.react-pdf__Page__textContent {
    display: none;
}