.pdf-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    /* for spaces between the items */
}

.pdf-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #eee;
    padding: 15px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 200px;
}

.pdf-name {
    margin-top: 10px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}